name: Publish Package

on:
  push:
    tags:
      - 'v*'
    branches: [ main ]

permissions:
  id-token: write  # Required for OIDC
  contents: write
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      
      - name: Update npm
        run: npm install -g npm@latest
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test
      - run: npm publish